footer {
  text-align: center;
  background-color: black;
  font-size: 20px;
}

main {
  background-color: black;
  grid-area: main;
}
main p {
  background-color: black;
  font-size: 20px;
  font-family: "Ibarra Real Nova", serif;
  color: whitesmoke;
  margin: 2rem;
  padding: 0;
}

footer {
  font-size: 20px;
  color: white;
  text-align: center;
}

.navClass {
  background-color: black;
  text-align: left;
}
.navClass a {
  color: antiquewhite;
}
.navClass:hover {
  color: cornflowerblue;
}
.navClass img {
  width: 3vw;
}
.navClass button {
  background-color: grey;
}

.colorFondo {
  background-color: black;
}

.titulo {
  font-size: 12rem;
  color: whitesmoke;
  background-color: black;
  text-align: center;
  font-family: "Cormorant SC", serif;
  padding: 0;
}

.imagenAlargada {
  display: flex;
  float: right;
  width: 40%;
  height: 0px;
  margin-bottom: 53rem;
  margin-left: 70rem;
  margin-top: -22rem;
  margin-right: 10rem;
}

.imagenVertical {
  display: flex;
  width: 15%;
  padding: 0;
  margin-left: 90rem;
  margin-bottom: 70rem;
  margin-top: -27rem;
}

.quirrelLago {
  display: flex;
  float: right;
  margin-top: -100rem;
  margin-right: 33rem;
}

.tablaLogros {
  color: antiquewhite;
  background-color: antiquewhite;
  position: center;
  font-size: 20px;
  width: 50%;
  margin-top: -60rem;
  padding: 0;
  background: rgb(55, 26, 77);
  background: linear-gradient(90deg, rgb(55, 26, 77) 48%, rgb(2, 0, 36) 100%, rgb(124, 0, 255) 100%);
}

.introduccion::first-letter {
  font-size: 35px;
}

.introduccion {
  text-align: left;
}

img {
  width: 100%;
}

.exploracion {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: antiquewhite;
  background-color: black;
}

.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 32rem;
}
.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.marketing h2 {
  font-weight: 400;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.featurette-divider {
  margin: 5rem 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
}

@media (min-width: 40em) {
  .carousel-caption {
    font-family: "Cormorant SC", serif;
  }
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
  .featurette-heading {
    font-size: 50px;
    font-family: "Ibarra Real Nova", serif;
  }
}
@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
    font-family: "Ibarra Real Nova", serif;
  }
}
.bancoExploracion {
  width: auto;
}

.geoExploracion {
  width: 22%;
}

.corniExploracion {
  width: 22%;
}

.textoRecuadros {
  font-family: "Cormorant SC", serif;
}

.colorBoton {
  background-color: black;
}

.bodyGuerreros {
  background-color: black;
}

.imagenDeFondo {
  background-image: url(../img/guerreros.png);
  background-position: absolute;
  background-repeat: repeat;
}
.imagenDeFondo div {
  border-radius: 3rem;
}
.imagenDeFondo svg {
  border-radius: 3rem;
}
.imagenDeFondo p {
  background-color: none;
}

.card-text {
  background-color: transparent;
  color: black;
}

.textoCorto p {
  font-size: 1.3rem;
  color: grey;
  font-family: "Cormorant SC", serif;
}

.tituloGuerreros {
  font-size: 60px;
  color: antiquewhite;
  font-family: "Cormorant SC", serif;
}

/*# sourceMappingURL=style.css.map */
