@import './base/variables';
@import './base/listas';
@import './base/maps';
@import './base/mixin';
@import './base/extend';
@import './base/operadores';

*{
  margin: 0;
  padding: 0;
}
main{
    background-color: black;
    p{
        
        background-color: black;
        font-size: 20px;
        font-family: 'Ibarra Real Nova', serif;
        color: whitesmoke;
        margin: 2rem;
        padding: 0;
    }
}
.textoIntro{
  color: antiquewhite;
  position: relative;
  left: 8rem;
  bottom: 15rem;
  text-align: right;
  vertical-align: middle;
  background-color: inherit;
  text-align-last: right;
}

footer{
    font-size: 20px;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

img{
  width: 100%;
}
.carousel-item{
  height: auto !important;
}


//--collage
.gallery {
  
  --s: 150px; /* control the size */
  --g: 10px;  /* control the gap */
  display: grid;
  margin: calc(var(--s) + var(--g));
}

.gallery > img {
  grid-area: 1/1;
  width: var(--s);
  aspect-ratio: 1.15;
  object-fit: cover;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%,75% 100%,25% 100%,0 50%);
  transform: translate(var(--_x,0),var(--_y,0)) scale(var(--_t,1));
  cursor: pointer;
  filter: grayscale(80%);
  transition: .2s linear;
}
.gallery > img:hover {
  filter: grayscale(0);
  z-index: 1;
  --_t: 1.2;
}

.gallery > img:nth-child(1) {--_y: calc(-100% - var(--g))}
.gallery > img:nth-child(7) {--_y: calc( 100% + var(--g))}
.gallery > img:nth-child(3),
.gallery > img:nth-child(5) {--_x: calc(-75% - .87*var(--g))}
.gallery > img:nth-child(4),
.gallery > img:nth-child(6) {--_x: calc( 75% + .87*var(--g))}
.gallery > img:nth-child(3),
.gallery > img:nth-child(4) {--_y: calc(-50% - .5*var(--g))}
.gallery > img:nth-child(5), 
.gallery > img:nth-child(6) {--_y: calc( 50% + .5*var(--g))}



//--collage


.navClass{
    background-color: black;
    text-align: left;
    a{
        color: antiquewhite;
    }
    &:hover{
        color: cornflowerblue;
    }
    img{
        width: 3vw;
    }
    button{
        background-color: grey;
    }
}

.titulo{
    font-size: 5rem;
    color: whitesmoke;
    background-color: black;
    text-align: center;
    font-family: 'Cormorant SC', serif;
    padding: 0;
}
.introduccion::first-letter{

    font-size: 35px;
}

      html,
      .bodyIndex{
        display: flex;
        align-items: center;
        background-image:url(../img/430075-fantasy-art-artwork-video-game-art-Hollow-Knight.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        
      }    
      
      
      .title {
        font-size: 2.5rem;
        font-family: system-ui;
        line-height: 1,1;
        font-weight: 300;
        color: #fff;
        margin: 5rem auto 1rem ;
        width: 85%;
        max-width: 1280px;
      }
      
      .slider {
        width: 85%;
        max-width: 1280px;
        margin: 0 auto;
      }
      
      .slider__content {
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        display: flex;
        gap: 1rem;
        padding-bottom: 1rem;
        scrollbar-color: var(--scrollcolor) var(--scrollbackground);
      
        &::-webkit-scrollbar {
          height: 0.5rem;
          width: 0.5rem;
          border-radius: 1rem;
          background: var(--scrollbackground);
        }
      
        &::-webkit-scrollbar-thumb {
          border-radius: 1rem;
          background: var(--scrollcolor);
        }
      
        &::-webkit-scrollbar-track {
          border-radius: 1rem;
          background: var(--scrollbackground);
        }
      }
      
      .slider__item {
        scroll-snap-align: start;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        min-width: 100%;
        width: 100%;
        border-radius: 0.25rem;
        overflow: hidden;
        position: relative;
        aspect-ratio: 1;
      
        @media (min-width: 460px) {
          aspect-ratio: 2/3;
          min-width: calc((100% / 2) - 2rem);
        }
      
        @media (min-width: 940px) {
          min-width: calc((100% / 3) - 4rem);
        }
      }
      
      .slider__image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
      
      .slider__info {
        position: relative;
        padding: 4rem 2rem 2rem;
        background: linear-gradient(to top, rgba(#000, 0.75), rgba(#203239, 0));
      
        h2 {
          color: #fff;
          font-family: system-ui;
          line-height: 1.1;
          font-weight: 300;
          font-size: 1.75rem;
          margin: 0;
        }
      }
      
      .slider__nav {
        margin: 1rem 0 4rem;
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        gap: 1rem;
        align-content: center;
        align-items: center;
        pointer-events: none;
      
        @media (min-width: 460px) {
          justify-content: flex-end;
        }
      }
      
      .slider__nav__button {
        margin: 0;
        appearance: none;
        border: 0;
        border-radius: 2rem;
        background: #fff;
        color: #203239;
        padding: 0.5rem 1rem;
        font-size: 0.75rem;
        line-height: 1;
        pointer-events: none;
        transition: 0.2s ease-out;
        opacity: 0.25;
      
        &--active {
          opacity: 1;
          pointer-events: auto;
          cursor: pointer;
        }
      }

      .mainIndex{
        display: flex;
        align-items: center;
        width: 85%;
      }

      @keyframes slidy {
        0% { left: 0%; }
        20% { left: 0%; }
        25% { left: -100%; }
        45% { left: -100%; }
        50% { left: -200%; }
        70% { left: -200%; }
        75% { left: -300%; }
        95% { left: -300%; }
        100% { left: -400%; }
        }
        
        body { margin: 0; } 
        div#slider { overflow: hidden; }
        div#slider figure img { width: 20%; float: left; }
        div#slider figure { 
          position: relative;
          width: 500%;
          margin: 0;
          left: 0;
          text-align: left;
          font-size: 0;
          animation: 30s slidy infinite; 
        }

        .carousel-item {
          height: 100vh;
          min-height: 300px;
          background: no-repeat center center scroll;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
        }
        .carousel-caption {
          bottom: 270px;
        }
        
        .carousel-caption h5 {
          font-size: 45px;
          text-transform: uppercase;
          letter-spacing: 2px;
          margin-top: 25px;
        }
        
        .carousel-caption p {
          width: 75%;
          margin: auto;
          font-size: 18px;
          line-height: 1.9;
        }

      
      
      
      
      
      


// --------------------------------EXPLORACION---------------------------------------------
.exploracion{
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: antiquewhite;
    background-color: black;
  }
  
  .marketing{
    h2{
        font-weight: 400;
    }
  }
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
    p{
        margin-right: .75rem;
  margin-left: .75rem;
    }
  }
  .featurette-divider {
    margin: 5rem 0; 
  }
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }
  @media (min-width: 40em) {
    .carousel-caption{
        font-family: 'Cormorant SC', serif;
        p{
            margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
       

        }
    }
  
    .featurette-heading {
      font-size: 50px;
      font-family: 'Ibarra Real Nova', serif;
    }
  }
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
      font-family: 'Ibarra Real Nova', serif;
      
    }
  }
  .bancoExploracion{
    width: auto;
  }
  .geoExploracion{
    width: 22%;
  }
  .corniExploracion{
    width: 22%;
  }
  .textoRecuadros{
    margin-top: 10rem;
    font-family: 'Cormorant SC', serif;
  }
  .colorBoton{
    background-color: black;
  }
  .sliderDlc{
    margin-top: 350px;
  }

  .tituloExploracion{
    color: antiquewhite;
    font-size: 80px;
    position: absolute;
    top: 180px;
  }
  .subtituloExploracion{
    color: antiquewhite;
    position: absolute;
    top: 268px;
  }
  .container{
    background-color: black;
  }
 


  
  
  





//------------------------GUERREROS------------------------

.bodyGuerreros{
    background-color: black;
    margin: auto;
}
.imagenDeFondo{
    background-image:url(../img/black.jpg);
    background-position: center;
    background-repeat:fixed;
    div{
        border-radius: 3rem;
    }
    svg{
        border-radius: 3rem;
    }
    p{
        background-color: none;
    }
}
.card-text{
    background-color: transparent;
    color: black
}
.textoCorto{
    p{
        font-size: 1.3rem;
        color: grey;
        font-family: 'Cormorant SC', serif;
    }
}
.tituloGuerreros{
    font-size: 60px;
    color: antiquewhite;
    font-family: 'Cormorant SC', serif;
}


//----------------------------------EL CABALLERO--------------------------------------//



* {
  box-sizing: border-box;
}
.bodyElcaballero{
  background-color: black;
  margin: auto;
}
body {
  font-family: 'Open Sans', sans-serif;
}



/* Start Landing Page */

.landing-page {
  position: relative;
  background-color: black;
}

.landing-page .header-area {
  display: flex;
  padding: 25px 0 0;
  position: relative;
}

.landing-page .header-area .logo {
  text-transform: uppercase;
  font-style: italic;
  margin-top: 10px;
  font-size: 19px;
  width: 300px;
  color: #5d5d5d;
}

.landing-page .header-area .links {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: right;
}

.landing-page .header-area .links li {
  display: inline-block;
  margin-left: 30px;
  color: #5d5d5d;
  cursor: pointer;
}

.landing-page .header-area .links li:last-child {
  border: 0;
  border-radius: 20px;
  padding: 10px 18px;
  color: #FFF;
  background-color: #6c63ff;
}

.landing-page .info {
  width: 35%;
  float: left;
  margin-top: 130px;
}

.landing-page .info h1 {
  font-size: 44px;
  margin: 0 0 20px;
  line-height: 1.4;
  color: #5d5d5d;
}

.landing-page .info p {
  margin: 0;
  line-height: 1.6;
  font-size: 15px;
  color: #5d5d5d;
}

.landing-page .info button {
  border: 0;
  border-radius: 20px;
  padding: 12px 30px;
  margin-top: 30px;
  cursor: pointer;
  color: #FFF;
  background-color: #6c63ff;
}

.landing-page .image {
  width: 50%;
  float: right;
  margin-top: 35px;
}

.landing-page .image img {
  max-width: 100%;
}

.clearfix {
clear: both;
}
.landing-page{
  p{
    text-align:left;
  }
   
}


.mascara{
  
  width: auto;
  margin-top: 42px;
}
.saviavida{
  width:48%;
}
.alma{
  width: 82%;
}
.landing-page{
  .info{
    h1{
      color: black;
      font-family: 'Cormorant SC', serif;
      font-size: 80px;
    }
    p{
      color: #141e27;
    }
  }
}
.aguijon{
  width: auto; 
}
.charms{
  width: auto;
}
.hechizos{
  width: 130%;

}
.skill{
  width: auto;
}
.containerCaballero{
 
  background-color: #aaaa;
  border-radius: 10px;
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
}

//------------------------------------------------MUNDO-----------------------------------------
 .slide3{
  right: 5rem;
 }
 .quirrelA{
  margin: auto;
 }










